@{
    ViewBag.Title = "BSPOC";
}

<div id="user">
    <div id="login">
        @{Html.RenderAction("Login", "Users");}
    </div>
    <div id="register">
        @{Html.RenderAction("Register", "Users");}
    </div>
</div>
@{Html.RenderPartial("Main");}

@*@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}*@