@using(Html.BeginForm("Login", "Users")) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <div class="editor-field">
        @Html.TextBox("Username", "", new { @class = "auto-hint" })
    </div>
    <div class="editor-field">
        @Html.Password("password")
    </div>
    <p><input type="submit" value="Login" /></p>
}